aiogram==3.14.0
aiohttp==3.10.10
python-dotenv==1.0.1
sqlalchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
redis==5.2.0
pydantic==2.9.2
pydantic-settings==2.4.0
#openai==1.12.0
google-generativeai==0.7.1
pillow==10.4.0
reportlab==4.1.0
aiofiles==24.1.0
pytz==2024.2

# Графики и визуализация
matplotlib==3.9.2
numpy==1.26.4
seaborn==0.13.2
scipy

# Для шифрования токенов (опционально)
cryptography==42.0.8

# Для OAuth (Google Fit и др.)
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0